.title{
    font-size: 3rem;
    text-align: center;
    margin-top: 5rem;
}

.container {
    width: 95%;
    max-width: 100rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
}

.resultBox {
  width: 100%;
  min-height: 220px; /* igual o mayor que el spinner y WeatherDetail */
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 4rem;
        margin-top: 5rem;
        
    }

     .resultBox {
    grid-column: 2 / 3; /* para que ocupe la segunda columna del grid */
    min-height: 220px;
    justify-content: center;
    align-items: center;
  }
}